@font-face {
    font-family: "Boxing";
    src: url("assets/fonts/BOXING.woff") format("woff");
}

html, body{
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: "Boxing";
}

/* LOADING */
/* @keyframes translateBackgroundP {
	from { background-position: 0 0; }
	to { background-position: 650px 0; }
} */
@keyframes translateBackgroundN {
    from { -webkit-transform-: translateX(0);}
    to { -webkit-transform: translateX(-673px);}
}

@keyframes translateBackgroundP {
    from { -webkit-transform-: translateX(-673px); }
    to { -webkit-transform: translateX(0);}
}

.loading{
    position: absolute;
    top: 0;
    z-index: 1;      
    width: 100%;
    height: 100%;
    background-color: #000;
}

.loading div{
    width: 200%;
    height: 100px;
    background-size: contain;
    background-repeat: repeat-x;   
}

.loading div:nth-of-type(2n + 1){
    background-image: url("assets/img/loadingN.png");
    animation: translateBackgroundN 5s linear infinite; 
}

.loading div:nth-of-type(2n){
    transform: translateX(-1346px);
    background-image: url("assets/img/loadingP.png");
    animation: translateBackgroundP 10s linear infinite; 
}


/* SMALL DEVICES */
.smallDevices{
    display: none;
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: #000;
    color: #fff;
    text-align: center;
    letter-spacing: 4px;
}

.smallDevices div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.smallDevices  h1{
    font-size: 18px;
    margin-top: 20px;
}

@media (max-width: 800px) {
    .smallDevices{
        display: block;
    }
}

/* USER INTERFACE */
.play{
    position: absolute;
    top: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 2;  
    left: 100%;
}

.play{
    color: white;
    letter-spacing: 1px;
}

.flexBox{
    display: flex;
    justify-content: space-around;
}

.flexBox h1{
    font-size: 50px;
    font-weight: normal;
    margin: 20vh 0 10px;    
}

.flexBox p{
    font-size: 35px;
    margin: 0;
}

.flexBox .number{
    letter-spacing: 5px;
}

.flexBox .author{
    font-size: 10px;
    transform: translateY(10px);
    letter-spacing: 1px;
}


.playButton{
    display: block;
    color: grey;
    font-size: 50px;
    text-decoration: none;
    border: solid 1px;
    width: 300px;
    padding: 20px 30px;
    margin: 25vh auto 0;
    text-align: center;
    transition: color .25s ease-in-out;    
} 

.playButton:hover{
    color: #fff;
}

.playButton > span{
    font-size: 20px;
}

.authors{
    font-size: 20px;
    position: absolute;
    bottom: 25px;
    right: 25px;
}

.authors a{
    text-decoration: none;
    color: grey;
    transition: color .25s ease-in-out;
    line-height: 30px;
}

.authors a:hover{
    color: #fff;
}


/* IN GAME */
canvas{
    position: absolute;
    top: 0; 
    left: 100%;
    z-index: 3;  
}

.ingame{
    /* display: none;     */
    width: 100%;
    height: 100%;
    z-index: 5;  
    position: absolute; 
    left: 100%;   

    color: white;    
    line-height: 55px;
    letter-spacing: 1px;
    font-size: 40px;
}

.scores{
    display: none;
    position: absolute;
    right: 25px;
    top: 25px;
    font-size: 40px;
    line-height: 55px;
    letter-spacing: 1px;
}

.highscore{
    letter-spacing: 5px;
    color: red;
}

.currentScore{
    color: #c7d2f4;
    letter-spacing: 5px;    
}

.launch{
    font-size: 70px;
}

.launch > span{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.launch img, .launch .countdown{
    position: absolute;    
    display: block;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.instructions{
    position: absolute;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    bottom: 0;
    margin: 0;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
}

.instructions span{
   display: inline-block;
}

.crew{
    color: #757575;
}

.reactors{
    color: #3d3d3d;
}

.launchShip{
    color:#1b1b1b;
}

.translateCrew{
    color: #fff;
    transform: translateY(-40px);
    transition: all .25s ease-in-out;
}

.translateReactors1{
    color: #757575;
    transform: translateY(-40px);
    transition: all .25s ease-in-out;
}

.translateLaunchShip1{
    color: #3d3d3d;
    transform: translateY(-40px);
    transition: all .25s ease-in-out;
}

.translateReactors2{
    color: #fff;
    transform: translateY(-80px);
    transition: all .25s ease-in-out;
}

.translateLaunchShip2{
    color: #757575;
    transform: translateY(-80px);
    transition: all .25s ease-in-out;
}

.translateLaunchShip3{
    color: #fff;
    transform: translateY(-120px);
    transition: all .25s ease-in-out;
}





